html{
    background-color: #32373B;
}
body{
    margin: 15% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    background-color: #4A5859;
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
}

.bannerContainer{
    min-width: 20rem;
}
.main{
    font-family:'Bebas Neue', cursive ;
    font-size: 12rem;
    font-weight: 100;
    color: #F4B860;
    margin-bottom: .125rem;
    padding: 0;
}
.subtext{
    font-family:'Overpass', sans-serif;
    color: white;
    font-size: 2rem;
    margin-top: 0;
    padding: 0;
}