html{
    background-color: #32373B;
}
.mainContainer{
    margin: 15% auto;
    display: flex;
    justify-content: center;
    gap: 10rem;
}
.login{
    background-color: #4A5859;
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.formDecoration{
    width: 90%;
}
.signupBtn{
    position: absolute;
    width: 7rem;
    height: 3rem;
    background-color: #F4B860;
    top: 1rem;
    right: -2rem;
    border:none;
    border-radius: 8px;
    font-family:'Bebas Neue', cursive ;
    font-size: 2rem;
    color: white;
    transition: all ease .2s;
}
.signupBtn:hover{
    background-color: #EF9A1A;
}
input{
    height: 2rem;
    width: 80%;
    margin-bottom: .5rem;
    border-radius: 8px;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    font-size: 1.5rem;
}
.loginBtn{
    height: 2.5rem;
    width: 6rem;
    border:none;
    border-radius: 8px;
    font-family: 'Overpass', sans-serif;
    font-size: 1.25rem;
    background-color: #C83E4D;
    color: white;
    transition: all ease .2s;
}
.loginBtn:hover{
    background-color: red;
}
.bannerContainer{
    min-width: 20rem;
}
.main{
    font-family:'Bebas Neue', cursive ;
    font-size: 12rem;
    font-weight: 100;
    color: #F4B860;
    margin-bottom: .125rem;
    padding: 0;
    text-align: center;
}
.subtext{
    font-family:'Overpass', sans-serif;
    color: white;
    font-size: 2rem;
    margin-top: 0;
    padding: 0;
    text-align: center;
}