html{
    background-color: #32373B;
}
.mainContainer{
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.enterBtn{
    width: 7rem;
    height: 3rem;
    background-color: #F4B860;
    border:none;
    border-radius: 8px;
    margin: 0 auto;
    font-family:'Bebas Neue', cursive ;
    font-size: 2rem;
    color: white;
    transition: all ease .2s;
}
.enterBtn:hover{
    background-color: #EF9A1A;
}
.exitBtn{
    width: 7rem;
    height: 3rem;
    background-color: #F4B860;
    border:none;
    border-radius: 8px;
    margin: 0 auto;
    font-family:'Bebas Neue', cursive ;
    font-size: 2rem;
    color: white;
    transition: all ease .2s;
}
.exitBtn:hover{
    background-color: red;
}
.bannerContainer{
    min-width: 20rem;
}
.main{
    font-family:'Bebas Neue', cursive ;
    font-size: 12rem;
    font-weight: 100;
    color: #F4B860;
    margin-bottom: .125rem;
    padding: 0;
    text-align: center;
}
.subtext{
    font-family:'Overpass', sans-serif;
    color: white;
    font-size: 2rem;
    margin-top: 0;
    padding: 0;
    text-align: center;
}